<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Аврелия</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div class="main-wrapper">
      <%- include('components/preloader') %>
      <%- include('sections/cart') %>
      <%- include('components/form') %>
      <%- include('components/top') %>
      <%- include('sections/header') %>
      <%- include('sections/about') %>
      <%- include('sections/main') %>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
